*{
    background-color: rgb(153, 153, 154);
}

.page-name {
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: rgb(63, 91, 129);
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.link {
    padding: 20px;
    margin: 20px;
    background-color: rgb(63, 91, 129);
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
}